/* cores */

$color1: #cacaca;
$color2: #3b74f2;
$color3: #227a04;
$color4: #c7ffa6;
$white: #fff;

/* fonts */

$font-principal: 'Poppins', sans-serif;

/* font weight */

$bold: 700;
$semi-bold: 600;
$medium: 500;